<a href="https://colab.research.google.com/github/Nikhila-KS/Unravel_ML/blob/main/2.1)DataDemo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## First Way of loading data: Manually locate the file

1. Upload data manually or from code in cell 2
2. Unzip the zip file and extract all files in it

Download data from [Singapore-Airbnb](https://www.kaggle.com/jojoker/singapore-airbnb/data). You need a Kaggle account to donwload the data. Do a quick registration if you don't have kaggle account.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving titanic.zip to titanic.zip

In [ ]:
# Unzip Data
from zipfile import ZipFile
file_name = "titanic.zip"
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('done')

done

In [ ]:
# Read CSV file using pandas
import pandas as pd
df=pd.read_csv('train.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

## Second Way of loading data: Mounting Google Drive

1. Mount Google Drive and upload the data to Google drive
2. Unzip the zip file and extract all files in it

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Upload data
from zipfile import ZipFile
file_name = '/content/drive/My Drive/singapore-airbnb.zip'
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('done')

done

In [ ]:
# Read CSV file using pandas
import pandas as pd
df=pd.read_csv('listings.csv')
df.head()

      id  ... availability_365
0  49091  ...              365
1  50646  ...              365
2  56334  ...              365
3  71609  ...              353
4  71896  ...              355

[5 rows x 16 columns]

## Third Way of loading data: Using Git

Some times your data is too big in size such as in GBs, so create a new Git repository and upload your data there and then use Git to clone it

1. Create a new repo in Git and upload your data
2. Clone it in Colab
3. Unzip the zip file and extract all files in it

In [ ]:
!git clone https://github.com/awesomedata/awesome-public-datasets.git

Cloning into 'awesome-public-datasets'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 1965 (delta 2), reused 6 (delta 2), pack-reused 1959
Receiving objects: 100% (1965/1965), 808.62 KiB | 1.07 MiB/s, done.
Resolving deltas: 100% (1185/1185), done.

In [ ]:
! git clone https://github.com/datasets/country-list.git

Cloning into 'country-list'...
remote: Enumerating objects: 96, done.
remote: Total 96 (delta 0), reused 0 (delta 0), pack-reused 96
Unpacking objects: 100% (96/96), done.

In [ ]:
# Read CSV file using pandas

import pandas as pd
df=pd.read_csv('country-list/data.csv')
df.head()

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

In [ ]:
!git clone https://github.com/sagihaider/Single-Trial-EEG-Classification.git

Cloning into 'Single-Trial-EEG-Classification'...
remote: Enumerating objects: 63, done.
remote: Total 63 (delta 0), reused 0 (delta 0), pack-reused 63
Unpacking objects: 100% (63/63), done.
Checking out files: 100% (25/25), done.

# Hello
## Everyone
### How are you?

$\sqrt{3x} + 2$

In [ ]:
'''$\sqrt{3x} + 2$'''